<div>
    <h2>
        <span>Rounds</span>
        <button class="btn btn-primary float-right jh-create-entity create-round" [routerLink]="['/', { outlets: { popup: ['round-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Round
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="rounds">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Status</span></th>
            <th><span>Finished At</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let round of rounds ;trackBy: trackId">
                <td><a [routerLink]="['../round', round.id ]">{{round.id}}</a></td>
                <td>{{round.name}}</td>
                <td>{{round.status}}</td>
                <td>{{round.finishedAt | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../round', round.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'round/'+ round.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'round/'+ round.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
