<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.delete.title}"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.delete.greeting(${contestant.firstName})}">
        </p>
        <p th:text="#{email.delete.text1}">
        </p>
        <p>
            <span th:text="#{email.delete.text2}"> </span>
            <br/>
            <em th:text="#{email.signature}"></em>
        </p>
    </body>
</html>
