<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Bestätigung Ihrer Abmeldung</h1>

            <div class="alert alert-success" *ngIf="success">
                <span><strong>Ihre Anmeldung wurde erfolgreich entfernt!</strong></span>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Es ist ein Fehler aufgetreten. Sollte dieser von Dauer sein, wenden Sie sich bitte an den Systemadministrator.</strong>
            </div>

        </div>
    </div>
</div>
